*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-300);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

::selection {
  background-color: var(--clr-neutral-400);
}
