/*
$color-primary: #0a0a0a
$color-secondary : #19E4AD
$color-tertiary: #FF3955 hsl(113.1,100%,71%)
*/

$colors: (
  'primary': (
    100: hsl(0, 0%, 23.9%),
    200: hsl(0, 0%, 18.9%),
    300: hsl(0, 0%, 13.9%),
    400: hsl(0, 0%, 8.9%),
    500: hsl(0, 0%, 3.9%),
  ),
  'secondary': (
    100: hsl(163.7, 80.2%, 59.6%),
    200: hsl(163.7, 80.2%, 54.6%),
    300: hsl(163.7, 80.2%, 49.6%),
    400: hsl(163.7, 80.2%, 44.6%),
    500: hsl(163.7, 80.2%, 39.6%),
  ),
  'tertiary': (
    100: hsl(351.5, 100%, 71.2%),
    200: hsl(351.5, 100%, 66.2%),
    300: hsl(351.5, 100%, 61.2%),
    400: hsl(351.5, 100%, 56.2%),
    500: hsl(351.5, 100%, 51.2%),
  ),
  'quaternary': (
    100: hsl(113.1, 100%, 71%),
    200: hsl(113.1, 100%, 71%),
    300: hsl(113.1, 100%, 71%),
    400: hsl(113.1, 100%, 71%),
    500: hsl(113.1, 100%, 71%),
  ),
  'neutral': (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 87%),
    300: hsl(0, 0%, 80%),
    400: hsl(0, 0%, 60%),
    500: hsl(0, 0%, 50%),
    600: hsl(0, 0%, 40%),
    700: hsl(0, 0%, 30%),
    800: hsl(0, 0%, 15%),
    900: hsl(0, 0%, 0%),
  ),
  'primary-opacity': (
    100: hsl(0, 0%, 13.9%, 0.1),
    200: hsl(0, 0%, 13.9%, 0.2),
    300: hsl(0, 0%, 13.9%, 0.4),
    400: hsl(0, 0%, 13.9%, 0.6),
    500: hsl(0, 0%, 13.9%, 0.8),
  ),
  'secondary-opacity': (
    100: hsl(163.7, 80.2%, 49.6%, 0.1),
    200: hsl(163.7, 80.2%, 49.6%, 0.2),
    300: hsl(163.7, 80.2%, 49.6%, 0.4),
    400: hsl(163.7, 80.2%, 49.6%, 0.6),
    500: hsl(163.7, 80.2%, 49.6%, 0.8),
  ),
  'tertiary-opacity': (
    100: hsl(351.5, 100%, 61.2%, 0.1),
    200: hsl(351.5, 100%, 61.2%, 0.2),
    300: hsl(351.5, 100%, 61.2%, 0.4),
    400: hsl(351.5, 100%, 61.2%, 0.6),
    500: hsl(351.5, 100%, 61.2%, 0.8),
  ),
  'quaternary-opacity': (
    100: hsl(113.1, 100%, 71%, 0.01),
    200: hsl(113.1, 100%, 71%, 0.02),
    300: hsl(113.1, 100%, 71%, 0.04),
    400: hsl(113.1, 100%, 71%, 0.06),
    500: hsl(113.1, 100%, 71%, 0.08),
  ),
  'white-opacity': (
    100: hsl(0, 0%, 100%, 0.2),
    200: hsl(0, 0%, 100%, 0.4),
    300: hsl(0, 0%, 100%, 0.6),
    400: hsl(0, 0%, 100%, 0.8),
    500: hsl(0, 0%, 100%),
  ),
  'black-opacity': (
    100: hsl(0, 0%, 0%, 0.2),
    200: hsl(0, 0%, 0%, 0.4),
    300: hsl(0, 0%, 0%, 0.6),
    400: hsl(0, 0%, 0%, 0.8),
    500: hsl(0, 0%, 0%),
  ),
  'grey-opacity': (
    100: hsl(0, 0%, 30%, 0.2),
    200: hsl(0, 0%, 30%, 0.4),
    300: hsl(0, 0%, 30%, 0.6),
    400: hsl(0, 0%, 30%, 0.8),
    500: hsl(0, 0%, 30%),
  ),
);

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }
}
