//Shadows
$shadow-white-dark: 0 2rem 6rem rgba(255, 255, 255, 0.3);
$shadow-white-light: 0 1rem 2rem rgba(255, 255, 255, 0.2);

$shadow-particle-light: 0 2.5rem 5rem var(--clr-secondary-opacity-300),
  0 -1rem 1rem var(--clr-tertiary-opacity-300);
